@{
    ViewBag.Title = "Home Page";
}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                    <section>
                        <div class="container" id="about">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <img class="img-fluid rounded-circle" src="~/Content/img/LogoLiga.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <h2 class="display-4">Bienvenido de Nuevo</h2>
                                        <p></p>
                                        <h5>
                                         Agradecemos tenerte de nuevo aqui, selecciona una de nuestras opciones para comenzar a trabajar!
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Content/img/estadio.jpg" alt="Second slide" width="500" height="600">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Content/img/jugadores.jpg" alt="Third slide" width="500" height="600">
            </div>
        </div>
    </div>