@model ControlEquipos.Web.Models.Stadia

@{
    ViewBag.Title = "Delete";
}

<center>
    <div class="card w-75 bg-dark m-5">
        <div class="card-body bg-gradient-dark">
            <h1 class="card-title text-center text-danger"><b>AVISO DE ELIMINACION</b></h1><hr />
            <h4 class="card-text text-justify text-white">
                Estas apunto de eliminar el "@Html.DisplayFor(model => model.StadiumName)"
                ¿Estas realmente seguro de lo que vas a hacer?
            </h4>
            <br />

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions container">
                    @Html.ActionLink("No, Volver a la Lista", "Index", null, new { @class = "btn btn-outline-warning btn-lg text-center float-left" })
                    <input type="submit" value="Si, Quiero Eliminarlo" class="btn btn-lg btn-outline-danger float-right" />
                </div>
            }
        </div>
    </div>

</center>
