
@{
    ViewBag.Title = "Create";
}

    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card mb-3 m-3">
                <div class="card-header primary-color">
                    <h6 class="m-0 text-white text-center">Nuevo Usuario</h6>
                </div>
                <div class="card-body">
                    <form action="@Url.Action("Create","Users")" method="post">

                        <div class="form-group">
                            <label class="col-md-4">Email</label>
                            <div class="col-md-10">
                                <input type="email" name="Email" value="" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Contraseña</label>
                            <div class="col-md-10">
                                <input type="password" name="Password" value="" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Rol</label>
                            <div class="col-md-10">
                                <select class="form-control" name="RolName" required>
                                    <option>Elige un Rol</option>
                                    <option value="Admin">Administrador</option>
                                    <option value="Owner">Dueño</option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <button class="btn btn-sm btn-outline-primary m-1">Guardar</button>
                            <a href="@Url.Action("Index","Users")" class="btn-sm btn btn-outline-danger m-1">Volver a Usuarios</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

