@model IEnumerable<ControlEquipos.Web.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}


    <div>
        <br />
        <center>
            <br /><br /><br />
            <div class="card container m-5">
                <br />
                <div class=" card-header bg-success"></div>
                <br /><br />
                <h2><b>USUARIO REGISTRADO CON EXITO EN EL SISTEMA</b></h2>
                <br /><br />
                <div class=" card-footer bg-success"></div>
                <br />

            </div>
            <br />
            
            <div><b><h5>Selecciona cualquiera de la opciones del menu para salir de esta pantalla</h5></b></div>

            <br />


        </center>
    </div>